/* Sidebar */
.sidebar {
    background-color: #343a40;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    overflow-y: auto;
    z-index: 100;
}

.sidebar h4 {
    color: white;
    margin-bottom: 30px;
}

/* Main Content */
.main-content {
    margin-left: 250px;
    padding: 20px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: absolute;
        top: 0;
        left: -100%;
        transition: left 0.3s ease-in-out;
    }
    
    .sidebar.active {
        left: 0;
    }

    .main-content {
        margin-left: 0;
    }

    .sidebar-toggle {
        display: block;
        background-color: #343a40;
        color: white;
        padding: 10px;
        font-size: 18px;
        cursor: pointer;
        z-index: 110;
        position: fixed;
        top: 20px;
        left: 20px;
    }
}

/* Button Style */
.btn-spacing {
    margin-bottom: 10px; /* Menambahkan jarak antara tombol */
}

/* Profil Card */
.card-profile {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

/* Kursus Card */
.card-course {
    margin-bottom: 20px;
}
